* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  height: 50vh;
  padding: 10px;
  background-color: #00c7ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}